<h1>Países del mundo</h1>

<select [(ngModel)]="opcionSeleccionado" (change)="capturar()">
  <option value="0">Selecciona un país</option>
  <option *ngFor="let country of restItems">
    {{country.name}}
  </option>
</select>
<div class="row mt-4"></div>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Paises
  </a>
  <li *ngFor="let count of countryArray" class="list-group-item list-group-item-action">
    <table class="table">
      <tbody>
        <tr>
          <td>{{ count.name }}</td>
          <td>{{ count.capital }}</td>
          <td>
            <img src="{{ count.flag }}" width="70px" height="30px" />
        </tr>
      </tbody>
    </table>
  </li>
</div>
<div class="row mt-4"></div>
<table class="table table-striped" *ngIf="selected; else elseBlock">
  <thead>
    <tr>
      <th>Pais</th>
      <th>Capital</th>
      <th>flag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ pais.name }}</td>
      <td>{{ pais.capital }}</td>
      <td>
        <img src="{{ pais.flag }}" width="70px" height="30px" />
    </tr>
  </tbody>
</table>

<div class="row mt-4"></div>

<button (click)="add()" *ngIf="selected; else elseBlock" class="btn btn-primary"> Añadir País </button>