<h1>Typhon</h1>

<!-- Opciones de Menu -->
<div class="row">
  <div class="col-md-8 mt-4">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" *ngFor="let option of menuArry" (click)="optionMenu(option.id)">
        {{option.title}}
      </li>
    </ul>
  </div>
</div>


<!-- Lista de Alumnos -->
<div class="form-group mt-4">
  <button (click)="getAlumnos()" class="btn btn-primary">Lista Alumnos </button>

  <div class="row mt-4">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let alumno of alumnos">
          {{alumno.nombre}} <button (click)="create(alumno)" class="btn btn-primary"> Crear alumno </button> <button (click)="delete(alumno.idAlumno)" class="btn btn-primary"> Eliminar alumno </button>
        </li>
      </ul>
      <div class="row mt-4"></div>
    </div>
  </div>
</div>